<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hompage_JSP_Gitcopy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>utility.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminLoginCheckFilter</filter-name>
    <filter-class>utility.AdminLoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginCheckFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Team</display-name>
    <servlet-name>Team</servlet-name>
    <servlet-class>suggest.Team</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Team</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
</web-app>